.Satauri {text-align: center;}
.satauri1 {font-size: 16px ;}
.satauri2 {font-size: 54px ;}
.sigane {width: 760px; text-align: center; margin: 0 auto; font-size: 20px;}
.headeri {margin-top: 80px;}
.flex-box { margin: 0 auto; width: 1336px;}
.flex-block { width: 310px; height: 430px;}
.row1 { display: flex; justify-content: space-between; margin-top: 48px;}
.row2 { display: flex; justify-content: space-between; margin-top: 48px;}

.footer-item-wrapper {
    padding: 80px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}
.footer-item-header {
    height: 100px;
}
.footer-logo {
    width: 100px;
    height: 64px;
}
.footer-item-header-title {
    font-size: 24px;
}
.icon-wraper {
    display: flex;
    margin-top: 28px;
}
.footer-paragraph {
    width: 306px;
}
.mt-20 {
    margin-top: 20px;
}
.footer-language-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.footer-anchor {
    color: gray;
}